body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	color:#6c7279;
    background-color:black;
}
*,
*:before,
*:after {
	box-sizing:border-box;
}
h1,h2,h3,h4,h5{
  margin:0;  
}
p{
    margin: 0;
}
 
.container {
	width:100%;
	max-width:1170px;
	margin:0 auto;
    
} 
.header__logo{
    display: block;
width: 155px;
height: 70px;
    background: url(img/kisspng-computer-icons-logo-portable-network-graphics-clip-icons-for-free-iconza-circle-social-5b7fe46b4ec817.2080142615351082033227.png) no-repeat 0 0;
background-size: 50%;
}
.header {
    width:100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background:url(img/Louis-Vuitton-Photos.jpg); 

} 
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #515369;
    padding: 35px 0;
    background:url(img/Louis-Vuitton-Photos.jpg)no-repeat;
}
/nav{
    display: flex
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav_link{
    margin-left: 50px;
    color:#fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}
.nav_link:first-child{
    margin-left: 0;
}
.nav_link:hover{
    opacity: 1;
    
}

.sha{
    display: flex;
    flex-direction: column;
    height:750px;
    padding-top: 100px;
    background:url(img/background.jpg);
}
.intro__title{
    margin: 0 0 30px:;
    font-family: 'Lato', sans-serif ;
    font-size: 100px;
    line-height: 1.1;
    color:#fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.intro_iner{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
.intro_subsec{
    font-size: 22px;
    color:white;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}   
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 4px;
    font-size:13px;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition:background .1s
        linear;
}
.btn--red{
    background-color:#e84545;
}
.btn--red:hover{
    background-color: #dd3434;
}











